{% load static%}
<!doctype html>
<html>

  <head>
    <link rel="stylesheet" href="base.css">
  </head>
  <style>
    body{background-color: rgb(16,20,33);}
    button{background-color: rgb(25,31,44);
    color: white;}
  </style>
  <body>
    <aside class="left_side">
      <section class="logo_box">
        <img class="LOGO" src="finLogo.png" alt="LOGO">
      </div>
      <div class="menu_box">
      <div class="menu">
        <button type="button" class="Home_btn">Home</button>
        <button type="button" class="Review_btn">Review</button>
        <button type="button" class="QnA_btn">QnA</button>
        <button typr="button" class="Login">Login</button>
      </div>
      </div>
    </aside>
  </body>

{% block content %} 
{% endblock %}