{% extends 'main/base.html' %} {% block content %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="index.css" />
  </head>
  <style>
    body {
      background-color: rgb(16, 20, 33);
    }
  </style>
  <body>
    {% for data in crollData %}
      
      <a style = "color: #544E54;" href = {{data.link}}><h5 style="margin-bottom: 20px; text-align: center;">{{data.link}}</h5></a>
      


    {% endfor %}


    {{crollData.link}}
      
      
      <div class="Vaccinated">
        <div class="v_left">
          <p>전국 1차 접종</p>
          <p>{{crollData.link}}</p>
        </div>
        <div class="v_left2">
          <p>전국 완전 접종</p>
          <p>%</p>
        </div>
        <div class="v_right"> 
          <p>1차 접종자 수</p>
          <p>명</p>
        </div>
        <div class="v_right2"> 
          <p>완전 접종자 수</p>
          <p>명</p>
        </div>
      </div>


  </body>

  {% endblock %}
</html>
