{% extends 'main/base.html' %} {% block content %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="index.css" />
  </head>
  <style>
    body {
      background-color: rgb(16, 20, 33);
    }
  </style>
  <body>
    {% for data in crollData %}
      
      <a style = "color: #544E54;" href = {{data.link}}><h5 style="margin-bottom: 20px; text-align: center;">{{data.link}}</h5></a>
      


    {% endfor %}


    {{crollData.link}}
      
      
    <div class="content">
      <div class="Vaccinated">
        <div class="v_left">
          <p>전국 1차 접종</p>
          <p>73.5%</p>
        </div>
        <div class="v_left2">
          <p>전국 완전 접종</p>
          <p>44.8%</p>
        </div>
        <div class="v_right">
          <p>확진자</p>
          <p>37,749,854명</p>
        </div>
        <div class="v_right2">
          <p>사망자</p>
          <p>22,997,770명</p>
        </div>
      </div>
      <div class="graphs">
        <h1 class="title">{{title}}</h1>
        <div class="graph">{{a_div|safe}}</div>
        <div class="graph">{{p_div|safe}}</div>
        <div class="graph">{{m_div|safe}}</div>
        <div class="graph">{{j_div|safe}}</div>
        <div class="graph">{{da_div|safe}}</div>
        <div class="graph">{{dp_div|safe}}</div>
        <div class="graph">{{dm_div|safe}}</div>
        <div class="graph">{{dj_div|safe}}</div>
      </div>
    </div>
  </body>



  </body>

  {% endblock %}
</html>
