{% extends 'main/base.html' %}
{% block content %}
<!doctype html>
<html>

  <head>
  </head>
  <body>
    <div class="logo_box">
      <img class="LOGO" src="LOGO.png" alt="LOGO">
    </div>
    <div class="menu">
      <button>Home</button>
      <button>Review</button>
      <button>QnA</button>
    </div>
    {{a_div|safe}}
    {{p_div|safe}}
    {{m_div|safe}}
    {{j_div|safe}}
    {{da_div|safe}}
    {{dp_div|safe}}
    {{dm_div|safe}}
    {{dj_div|safe}}
    
    </body>

  {% endblock %}