.Vaccinated .v_left {
  color: gray;
  margin-top: 2px;
  margin: auto;
}
.Vaccinated .v_left2 {
  color: gray;
  margin-top: 2px;
  margin: auto;
}
.Vaccinated .v_right {
  color: gray;
  margin-top: 2px;
  margin: auto;
}
.Vaccinated .v_right2 {
  color: gray;
  margin-top: 2px;
  margin: auto;
}
.Vaccinated {
  font-size: small;
  display: flex;
  position: relative;
  flex-direction: row;
  border: 1px solid rgb(75, 71, 85);
  border-radius: 30px;
  background-color: rgb(25, 31, 44);
  width: 500px;
  height: 80px;
  justify-content: center;
  /*align-items: center;*/
  padding: 10px 10px;
  margin-bottom: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  margin-top: 35px;
}
.graph {
  margin-bottom: 10px;
}
.graphs {
  display: flex;
  flex-direction: column;
}
.title {
  color: white;
}
